<header class="position-sticky top-0 bg-white z-500">
  <nav class="navbar navbar-expand-lg navbar-light outline py-lg-s">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="navbar-brand d-none d-s-block position-lg-absolute top-50 start-50 translate-middle-lg">
        <a class="fs-m fs-md-4 fs-sm-2 link-primary logo-hover" href="./index.html">EXHIBINECTION</a>
      </h1>
      <!-- <div class="position-relative link-black order-lg-3"> -->
      <a class="position-relative order-lg-3 cartIcon-hover ps-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="#offcanvasWithBothOptions" role="button">
        <span class="material-icons fs-4">
          confirmation_number
        </span>
        <span class="position-absolute top-s translate-middle badge bg-secondary fs-1">3</span>
      </a>
      <!-- </div> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex justify-content-md-end w-100 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<% if(current == 'index') { %>
<div class="header-banner bga-lg-fixed">
  <div class="container h-100">
    <div class="row align-items-end align-items-md-center h-100 pb-8 pb-md-0">
      <div class="col-md-11 offset-md-1">
        <h2 class="fs-6 fw-bold text-white mb-1">台北當代藝術展</h2>
        <h3 class="fs-3 fw-bold text-white mb-1">01 JUN - 31 OCT</h3>
        <div class="d-flex d-md-block">
          <button class="btn btn-secondary w-50 w-md-auto px-md-6 me-1">購買票券</button>
          <button class="btn btn-outline-light w-50 w-md-auto px-md-6">詳細資訊</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
<div class="offcanvas offcanvas-end mt-xl mt-lg-8 p-2 p-sm-4" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header p-0">
    <h2 class="offcanvas-title text-white fs-6 fw-bold mb-xs" id="offcanvasExampleLabel">Cart List</h5>
  </div>
  <ul class="offcanvas-body scrollbar p-xxs mb-s">
    <li class="card mb-1 mb-sm-xs">
      <div class="card-title">
      <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="card-body px-2 px-sm-4 pt-0 pb-2 pb-sm-4">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex">
            <img src="./assets/images/alina-grubnyak-R84Oy89aNKs-unsplash.jpg" alt="台味設計展" class="img h-xs w-s me-2">
            <div>
              <h3 class="fs-2 fw-bold mb-xxs">
                2020 台味設計展
              </h3>
              <p class="fw-medium mb-xxs">01 JUN — 31 OCT</p>
              <p class="text-dark mb-s">
                全票
              </p>
              <span class="fw-bold fs-3">NT$350</span>
            </div>
          </div>
          <div class="d-flex flex-sm-row w-xs w-sm-25">
            <button class="btn btn-outline-dark border-0 p-0" type="button"><i class="material-icons d-block">remove</i></button>
            <input type="text" class="form-control text-center border-white fs-3 p-0" placeholder="01" aria-label="Recipient's username with two button addons">
            <button class="btn btn-outline-dark border-0 p-0" type="button"><i class="material-icons d-block">add</i></button>
          </div>
        </div>
      </div>
    </li>
    <li class="card mb-1 mb-sm-xs">
      <div class="card-title">
      <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="card-body px-2 px-sm-4 pt-0 pb-2 pb-sm-4">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex">
            <img src="./assets/images/michel-catalisano--a0D9LpcKV8-unsplash.jpg" alt="台味設計展" class="img h-xs w-s me-2">
            <div>
              <h3 class="fs-2 fw-bold mb-xxs">
                No.22 線上設計展
              </h3>
              <p class="fw-medium mb-xxs">01 JUN — 31 OCT</p>
              <p class="text-dark mb-s">
                全票
              </p>
              <span class="fw-bold fs-3">NT$350</span>
            </div>
          </div>
          <div class="d-flex flex-column flex-sm-row w-xs w-sm-25">
            <button class="btn btn-outline-dark border-0 p-0" type="button"><i class="material-icons d-block">remove</i></button>
            <input type="text" class="form-control text-center border-white fs-3 p-0" placeholder="01" aria-label="Recipient's username with two button addons">
            <button class="btn btn-outline-dark border-0 p-0" type="button"><i class="material-icons d-block">add</i></button>
          </div>
        </div>
      </div>
    </li>
    <li class="card mb-1 mb-sm-xs">
      <div class="card-title">
      <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="card-body px-2 px-sm-4 pt-0 pb-2 pb-sm-4">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex">
            <img src="./assets/images/moralis-tsai-8xsktFRw28I-unsplash.jpg" alt="台味設計展" class="img h-xs w-s me-2">
            <div>
              <h3 class="fs-2 fw-bold mb-xxs">
                高雄設計節
              </h3>
              <p class="fw-medium mb-xxs">01 JUN — 31 OCT</p>
              <p class="text-dark mb-s">
                全票
              </p>
              <span class="fw-bold fs-3">NT$350</span>
            </div>
          </div>
          <div class="d-flex flex-column flex-sm-row w-xs w-sm-25">
            <button class="btn btn-outline-dark border-0 p-0" type="button"><i class="material-icons d-block">remove</i></button>
            <input type="text" class="form-control text-center border-white fs-3 p-0" placeholder="01" aria-label="Recipient's username with two button addons">
            <button class="btn btn-outline-dark border-0 p-0" type="button"><i class="material-icons d-block">add</i></button>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <!-- offcanvas-footer -->
  <div class="d-flex justify-content-between align-items-center">
    <p class="text-white fs-m fw-medium">
      <span class="me-3">小計</span>
      NT$1050
    </p>
    <a href="./cart.html" class="bg-white rounded"><button class="btn btn-outline-primary border-white px-3">前往結帳</button></a>
  </div>
</div>
<% if(current === 'index' || current === 'design' || current === 'detail'){ %>
<nav class="nav-scroller d-flex justify-content-center <%- current == 'index'? 'outline' : '' %>">
  <ul class="nav overflow-x-scroll flex-nowrap text-nowrap">
    <li class="me-xxs">
      <a class="nav-link underline-hover fs-1 fs-md-2 px-1 px-sm-2" aria-current="page" href="#">音樂</a>
    </li>
    <li class="me-xxs">
      <a class="nav-link underline-hover fs-1 fs-md-2 px-1 px-sm-2" href="#">戲劇</a>
    </li>
    <li class="me-xxs">
      <a class="nav-link <%- current == 'design'? 'active' : '' %> underline-hover fs-1 fs-md-2 px-1 px-sm-2" href="./design.html">設計</a>
    </li>
    <li class="me-xxs">
      <a class="nav-link underline-hover fs-1 fs-md-2 px-1 px-sm-2" href="#">藝術</a>
    </li>
    <li class="me-xxs">
      <a class="nav-link underline-hover fs-1 fs-md-2 px-1 px-sm-2" href="#">美食</a>
    </li>
    <li class="me-xxs">
      <a class="nav-link underline-hover fs-1 fs-md-2 px-1 px-sm-2" href="#">旅遊</a>
    </li>
    <li class="me-xxs">
      <a class="nav-link underline-hover fs-1 fs-md-2 px-1 px-sm-2" href="#">電影</a>
    </li>
    <li class="me-xxs">
      <a class="nav-link underline-hover fs-1 fs-md-2 px-1 px-sm-2" href="#">親子</a>
    </li>
    <li class="me-xxs">
      <a class="nav-link underline-hover fs-1 fs-md-2 px-1 px-sm-2" href="#">期間設定</a>
    </li>
  </ul>
</nav>
<% } %>