<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="icon" href="./assets/images/palette_black_24dp.svg">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <%- include('header.ejs') %>
    <%- contents %>
    <footer<% if(current !== 'index' && current !== 'design' && current !== 'detail'){ %> hidden <% } %> >
      <div class="footer-banner d-flex flex-column justify-content-end pb-ml">
        <div class="container">
          <h2 class="text-white fs-4 fs-sm-6 fw-bold mb-m mb-sm-xs">想收到展覽的最新消息嗎？<br>快訂閱我們！</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="輸入您的電子信箱" aria-label="輸入您的電子信箱" aria-describedby="button-addon2">
                <button class="btn btn-secondary py-xs px-l" type="button" id="button-addon2">訂閱</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container d-flex justify-content-start justify-content-sm-center justify-content-md-between">
        <div class="d-sm-flex align-items-center py-m">
          <h3 class="me-2"><a href="index.html" class="fs-m fs-sm-4 text-black">EXHIBINECTION</a></h3>
          <span class="fs-2">© 2020. All Rights Reserved.</span>
        </div>
        <ul class="nav d-none d-md-flex py-m">
          <li class="nav-item">
            <a class="nav-link px-1 px-md-xs" aria-current="page" href="#">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-1 px-md-xs" href="#">Sign up</a>
          </li>
        </ul>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>