.header-banner {
  background: url(../images/ricardo-gomez-angel-UrOZTfXT0h0-unsplash.jpg) no-repeat center/cover;
  height: 480px;
}

.footer-banner {
  background: url(../images/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg) no-repeat center/cover;
  height: 480px;
}

.live-review-banner {
  background: url(../images/people2.png) no-repeat center/cover;
  height: 482px;
}

.detail-banner {
  background: url(../images/alina-grubnyak-R84Oy89aNKs-unsplash.jpg) no-repeat center/cover;
  height: 256px;
}

.bg-cover-center {
  background-size: cover;
  background-position: center;
}