*,*::before,*::after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  // width: 100%;
  height: auto;
	display: block;
  object-fit: cover;
}

a {
  display: block;
  transition: .3s;
}

p {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', 'Noto Sans TC', $font-family-sans-serif;
  font-weight: normal;
}
