// Color system

$gray-100: #E9ECEF;
$gray-200: #373A3C;
$gray-300: #CED4DA;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
) !default;

// Color system
$primary:   #630834;
$secondary: #E31277;
$danger:    #190014CC;
$black:     #000000;
$white:     #ffffff; 
$gray:      #707070;
$light:       $gray-100 !default;
$dark:        $gray-200 !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "gray":       $gray,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "white":      $white,
  "black":      $black
) !default;

// Spacing
$spacers: (
  "0":   0,
  "xxs":  .25rem,  // 4
  "xs":   .75rem,  // 12
  "s":   .875rem,  // 14
  "m":   1.25rem,  // 20
  "ml":  2.25rem,  // 36
  "mxl": 2.75rem,  // 44
  "l":   3.375rem, // 54
  "xl":  3.75rem,  // 60
  "1":   .5rem,    // 8
  "2":   1rem,     // 16
  "3":   1.5rem,   // 24
  "4":   2rem,     // 32
  "5":   2.5rem,   // 40
  "6":   3rem,     // 48
  "7":   4rem,     // 64
  "8":   5rem,     // 80
  "9":   6rem,     // 96
) !default;

$font-family-lato:                 'Lato', sans-serif;
$font-family-roboto:               'Roboto', monospace;

$font-sizes: (
  "xs":  .5rem,     // 8
  "s":   .875rem,   // 14
  "m":   1.375rem,  // 22
  "l":   2.75rem,   // 44
  "1":   .75rem,    // 12
  "2":   1rem,      // 16
  "3":   1.25rem,   // 20
  "4":   1.5rem,    // 24
  "5":   1.75rem,   // 28
  "6":   2rem,      // 32
  "7":   2.25rem,   // 36
  "8":   2.5rem,    // 40
) !default;

// z-index
$z-index: (
  '0': 0,
  '100': 1100,
  '200': 1200,
  '250': 1250,
  '300': 1300,
  '400': 1400,
  '500': 1500,
  '750': 1750,
  'auto': 'auto',
) !default;

// Position
$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
  s: 2px,
  m: 142px,
  ml: 162px
) !default;

// link
$link-color:                        $gray !default;
$link-decoration:                   none !default;               
$link-shade-percentage:             30% !default;
$link-hover-color:                  $primary !default;

// h1~h6
$headings-font-weight:              400 !default;
$headings-margin-bottom:            0!default;
$headings-line-height:              1.5 !default;

// line height
$line-height-sm:                    1.875 !default;

// Grid
$grid-breakpoints: (
  xs: 0,
  s:  375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

$container-padding-x:               .9375rem !default;

// Border
$border-color:                      $gray !default;

// Navbar
$navbar-padding-y:                  .625rem !default;
$navbar-nav-link-padding-x:         1rem !default;
$navbar-brand-padding-y:            0 !default;
$nav-link-padding-y:                .875rem !default;
$navbar-light-color:                $gray !default;

// Button
$btn-padding-y:                     .625rem !default;
$btn-hover-bg-shade-amount:         30% !default;
$btn-transition:                    color .22s ease-in-out, background-color .22s ease-in-out, border-color .22s ease-in-out, box-shadow .22s ease-in-out !default;

// btn close 
$btn-close-padding-x:               .5rem !default;
$btn-close-padding-y:               .5rem !default;
$btn-close-opacity:                 1 !default;
$btn-close-hover-opacity:           .5 !default;
$btn-close-focus-opacity:           0 !default;

// Input
$input-border-color:                $gray-300 !default;
$input-border-width:                1px !default;
$input-placeholder-color:           $gray !default;

// Card
$card-title-spacer-y:               .25rem !default;
$card-border-width:                 0 !default;
$card-border-radius:                0 !default;

// Badge
$badge-border-radius:               100% !default;
$badge-font-weight:                 400 !default;
$badge-padding-y:                   .125em !default;
$badge-padding-x:                   .4em !default;
// 0.125em 0.4em

// Offcanvas
$offcanvas-padding-y:               1rem !default;
$offcanvas-padding-x:               1rem !default;
$offcanvas-bg-color:                $black !default;
$offcanvas-color:                   $black !default;
$offcanvas-horizontal-width:        540px !default;

// Progress
$progress-height:                   2px !default;
$progress-bar-bg:                   $secondary !default;
